data/
pghome/
sqls/
target-debug/
data/pg_stat_tmp/db_0.stat
data/pg_stat_tmp/db_12675.stat
data/pg_stat_tmp/db_16384.stat
data/pg_stat_tmp/global.stat
data/postmaster.pid
data/postmaster.pid
data/base/12675/pg_internal.init
data/base/16384/pg_internal.init
data/global/1262
data/global/2671
data/global/pg_control
data/global/pg_internal.init
data/pg_wal/000000010000000000000001
data
data/postmaster.pid
data/base/12675/pg_internal.init
data/global/pg_control
data/global/pg_internal.init
data/pg_wal/000000010000000000000001
data/pg_xact/0000
